{"openapi":"3.1.0","info":{"title":"Libex","description":"## Migration notice\n\n**Libex's public instance has moved to https://libexdb.com.**\n\nThe previous host remains available until 2026-11-04, after which it stops serving.\nIf you are using the old address, update your configuration.\n\n[Details and questions](https://github.com/LibexHQ/Libex/issues/183)\n\n---\n\nOpen, unrestricted Audible metadata API for the audiobook automation community.","version":"1.15.0","x-logo":{"url":"/static/logo.png","altText":"Libex"}},"servers":[{"url":"https://libexdb.com"}],"paths":{"/book/sku/{sku}":{"get":{"tags":["Books"],"summary":"Get Books By Sku","description":"Get all books by SKU group.\nQueries the local database only — returns books that have been fetched and stored previously.\nA SKU group typically contains region variants of the same title.","operationId":"get_books_by_sku_book_sku__sku__get","parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string","description":"Audible SKU group","title":"Sku"},"description":"Audible SKU group"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Books By Sku Book Sku  Sku  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/book/{asin}":{"get":{"tags":["Books"],"summary":"Get Book","description":"Get a single book by ASIN.\nReturns a single book object directly.","operationId":"get_book_book__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Audible ASIN","title":"Asin"},"description":"Audible ASIN"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/book/{asin}/chapters":{"get":{"tags":["Books"],"summary":"Get Book Chapters","description":"Get chapter information for a book by ASIN.","operationId":"get_book_chapters_book__asin__chapters_get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Audible ASIN","title":"Asin"},"description":"Audible ASIN"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChapterResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/book":{"get":{"tags":["Books"],"summary":"Get Books Bulk","description":"Get multiple books by ASIN.\nAccepts all three forms: ?asins=X,Y — ?asins=X&asins=Y — ?asins=X,Y&asins=Z\nReturns {\"books\": [...], \"notFound\": [...]} matching AudiMeta's bulk format.","operationId":"get_books_bulk_book_get","parameters":[{"name":"asins","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"},"description":"ASINs — comma-separated, repeated params, or both. Max 1000.","title":"Asins"},"description":"ASINs — comma-separated, repeated params, or both. Max 1000."},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort the returned books by","title":"Sort"},"description":"Field to sort the returned books by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkBookResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author":{"get":{"tags":["Authors"],"summary":"Search","description":"Search for authors by name. Returns 404 if none found.","operationId":"search_author_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"Author name to search for","title":"Name"},"description":"Author name to search for"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuthorResponse"},"title":"Response Search Author Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author/books":{"get":{"tags":["Authors"],"summary":"Get Books By Author Name","description":"Get books by author name.\nUsed when no author ASIN is available.\nReturns full book objects matching AudiMeta's BookDto format.","operationId":"get_books_by_author_name_author_books_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"Author name","title":"Name"},"description":"Author name"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort the returned books by","title":"Sort"},"description":"Field to sort the returned books by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Books By Author Name Author Books Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author/books/{asin}":{"get":{"tags":["Authors"],"summary":"Get Books By Author","description":"Get all books by author ASIN.\nReturns full book objects matching AudiMeta's BookDto format.","operationId":"get_books_by_author_author_books__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Author ASIN","title":"Asin"},"description":"Author ASIN"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":true,"title":"Cache"},"description":"Return cached data if available"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort the returned books by","title":"Sort"},"description":"Field to sort the returned books by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Books By Author Author Books  Asin  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author/{asin}":{"get":{"tags":["Authors"],"summary":"Get Author By Asin","description":"Get author profile by ASIN.","operationId":"get_author_by_asin_author__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Author ASIN","title":"Asin"},"description":"Author ASIN"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/narrator/books":{"get":{"tags":["Narrators"],"summary":"Get Narrator Books","description":"Get books by narrator name.\nSearches the Audible catalog by narrator and returns full book metadata.","operationId":"get_narrator_books_narrator_books_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"Narrator name","title":"Name"},"description":"Narrator name"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Results per page (max 50)","default":10,"title":"Limit"},"description":"Results per page (max 50)"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Narrator Books Narrator Books Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/series/search":{"get":{"tags":["Series"],"summary":"Search","description":"Search for series by name. Returns 404 if none found.","operationId":"search_series_search_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"Series name to search for","title":"Name"},"description":"Series name to search for"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeriesResponse"},"title":"Response Search Series Search Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/series/books/{asin}":{"get":{"tags":["Series"],"summary":"Get Books By Series","description":"Get all books in a series.\n\nDefaults to series position order; passing a sort field overrides it.\nReturns full book objects matching AudiMeta's BookDto format.","operationId":"get_books_by_series_series_books__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Series ASIN","title":"Asin"},"description":"Series ASIN"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by (overrides default series position order)","title":"Sort"},"description":"Field to sort by (overrides default series position order)"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Books By Series Series Books  Asin  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/series/{asin}":{"get":{"tags":["Series"],"summary":"Get Series By Asin","description":"Get series metadata by ASIN.","operationId":"get_series_by_asin_series__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Series ASIN","title":"Asin"},"description":"Series ASIN"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeriesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search":{"get":{"tags":["Search"],"summary":"Search Books","description":"Search the Audible catalog. Returns 404 if nothing found.","operationId":"search_books_search_get","parameters":[{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Book title","title":"Title"},"description":"Book title"},{"name":"author","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Author name","title":"Author"},"description":"Author name"},{"name":"narrator","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Narrator name","title":"Narrator"},"description":"Narrator name"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Publisher name","title":"Publisher"},"description":"Publisher name"},{"name":"keywords","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Keywords","title":"Keywords"},"description":"Keywords"},{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"General query","title":"Query"},"description":"General query"},{"name":"products_sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Sort order","title":"Products Sort By"},"description":"Sort order"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Maximum results","default":10,"title":"Limit"},"description":"Maximum results"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","maximum":9,"minimum":0,"description":"Page number","default":0,"title":"Page"},"description":"Page number"},{"name":"cache","in":"query","required":false,"schema":{"type":"boolean","description":"Return cached data if available","default":false,"title":"Cache"},"description":"Return cached data if available"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Search Books Search Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/quick-search":{"get":{"tags":["Search"],"summary":"Quick Search Books","description":"Quick search using Audible suggestions. Returns 404 if nothing found.","operationId":"quick_search_books_quick_search_get","parameters":[{"name":"keywords","in":"query","required":true,"schema":{"type":"string","description":"Search keywords","title":"Keywords"},"description":"Search keywords"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Quick Search Books Quick Search Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{region}/search":{"get":{"tags":["Search"],"summary":"Abs Search","description":"Regional search for Audiobookshelf compatibility.\nReturns {\"matches\": [...]} with AbsBookDto format.","operationId":"abs_search__region__search_get","parameters":[{"name":"region","in":"path","required":true,"schema":{"type":"string","description":"Audible region code","title":"Region"},"description":"Audible region code"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Book title","title":"Title"},"description":"Book title"},{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"General query","title":"Query"},"description":"General query"},{"name":"author","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Author name","title":"Author"},"description":"Author name"},{"name":"keywords","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Keywords","title":"Keywords"},"description":"Keywords"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/{region}/quick-search/search":{"get":{"tags":["Search"],"summary":"Abs Quick Search","description":"Regional quick search for Audiobookshelf compatibility.\nReturns {\"matches\": [...]} with AbsBookDto format.","operationId":"abs_quick_search__region__quick_search_search_get","parameters":[{"name":"region","in":"path","required":true,"schema":{"type":"string","description":"Audible region code","title":"Region"},"description":"Audible region code"},{"name":"keywords","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Keywords","title":"Keywords"},"description":"Keywords"},{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Query","title":"Query"},"description":"Query"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Title","title":"Title"},"description":"Title"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AbsSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/new-releases":{"get":{"tags":["Releases"],"summary":"New Releases","description":"Recently released books from the last N days, scanned live from Audible,\nnewest first. Cached until the next UTC midnight. Returns 404 if none found.\n\nPass a `category` id (from GET /categories) to scope the scan to one category\nand get the full window for it. Without a category, the scan walks Audible's\nun-categoried catalog, which it caps at a few hundred results — so the bare\ncall returns a live sample, not the whole catalog. For the complete set, query\na category, or use the DB endpoint /db/new-releases (kept current by the\nseeder), or aggregate per-category calls client-side.","operationId":"new_releases_new_releases_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ReleaseWindow","description":"Look-back window in days","default":30},"description":"Look-back window in days"},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{1,12}$"},{"type":"null"}],"description":"Audible category id to scope the scan to (see GET /categories). Without it, the scan returns a live sample, not the full catalog.","title":"Category"},"description":"Audible category id to scope the scan to (see GET /categories). Without it, the scan returns a live sample, not the full catalog."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort the returned books by","title":"Sort"},"description":"Field to sort the returned books by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"desc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response New Releases New Releases Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/coming-soon":{"get":{"tags":["Releases"],"summary":"Coming Soon","description":"Upcoming books releasing in the next N days, scanned live from Audible,\nsoonest first. Cached until the next UTC midnight. Returns 404 if none found.\n\nPass a `category` id (from GET /categories) to scope the scan to one category\nand get the full window for it. Without a category, the scan walks Audible's\nun-categoried catalog, which it caps at a few hundred results — so the bare\ncall returns a live sample, not the whole catalog. For the complete set, query\na category, or use the DB endpoint /db/coming-soon (kept current by the\nseeder), or aggregate per-category calls client-side.","operationId":"coming_soon_coming_soon_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ReleaseWindow","description":"Look-ahead window in days","default":30},"description":"Look-ahead window in days"},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{1,12}$"},{"type":"null"}],"description":"Audible category id to scope the scan to (see GET /categories). Without it, the scan returns a live sample, not the full catalog.","title":"Category"},"description":"Audible category id to scope the scan to (see GET /categories). Without it, the scan returns a live sample, not the full catalog."},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort the returned books by","title":"Sort"},"description":"Field to sort the returned books by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language (exact match)","title":"Language"},"description":"Filter by language (exact match)"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format (e.g. unabridged)","title":"Book Format"},"description":"Filter by book format (e.g. unabridged)"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name (e.g. US Minerva)","title":"Plan Name"},"description":"Filter by Audible plan name (e.g. US Minerva)"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')","title":"Genre"},"description":"Filter by genre or tag name (partial match, e.g. 'fantasy')"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Coming Soon Coming Soon Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/categories":{"get":{"tags":["Releases"],"summary":"Categories","description":"Lists Audible's genre categories for a region — the valid `category` values\nfor the /new-releases and /coming-soon scans.\n\nThe taxonomy runs up to five levels deep and is ragged: a branch ends wherever\nAudible stops nesting. By default the response is a nested tree — each node\ncarries its own `children`. Pass `flat=true` for a flat list instead: every\nnode at every level as a single entry carrying its `ancestors` — the chain of\n{id, name} from the top-level root down to its immediate parent, in order — so\na node's depth and lineage are still recoverable without walking a tree.\n\nPass `depth=N` to limit how many levels come back: `depth=1` returns just the\ntop-level categories (the parents), `depth=2` the top two levels, and so on.\nThis works with both the nested and flat forms, and composes with `flat`.\n\nA node can sit under more than one parent; in the flat list it appears once\nper parent, each with that placement's own ancestry. These are the ids you\npass as `category`, distinct from /db/genres (the genre/tag *names* attached\nto stored books). The list is read from the local cache of the taxonomy,\nrefreshed from Audible on each call and stored additively. Returns 404 if the\ntaxonomy can't be loaded.","operationId":"categories_categories_get","parameters":[{"name":"flat","in":"query","required":false,"schema":{"type":"boolean","description":"Return a flat list instead of a nested tree. Each node carries its full ancestry (root-first) so its place in the taxonomy is still recoverable.","default":false,"title":"Flat"},"description":"Return a flat list instead of a nested tree. Each node carries its full ancestry (root-first) so its place in the taxonomy is still recoverable."},{"name":"depth","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","minimum":1},{"type":"null"}],"description":"Limit the response to this many levels. depth=1 returns only the top-level categories, depth=2 the top two levels, and so on. Omit for the full tree.","title":"Depth"},"description":"Limit the response to this many levels. depth=1 returns only the top-level categories, depth=2 the top two levels, and so on. Omit for the full tree."},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/CategoryNode"}},{"type":"array","items":{"$ref":"#/components/schemas/FlatCategoryNode"}}],"title":"Response Categories Categories Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/stats":{"get":{"tags":["Database"],"summary":"Get Stats","description":"Get counts of books, authors, narrators, series, and books with chapters in the local DB.","operationId":"get_stats_db_stats_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatsResponse"}}}}}}},"/db/book":{"get":{"tags":["Database"],"summary":"Search Db Books","operationId":"search_db_books_db_book_get","parameters":[{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by","title":"Sort"},"description":"Field to sort by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name","title":"Plan Name"},"description":"Filter by Audible plan name"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Search Db Books Db Book Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/plans":{"get":{"tags":["Database"],"summary":"Get Db Plans","description":"Get all distinct Audible plan names from the local DB.","operationId":"get_db_plans_db_plans_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Response Get Db Plans Db Plans Get"}}}}}}},"/db/genres":{"get":{"tags":["Database"],"summary":"Get Db Genres","description":"Get all distinct genre and tag names from the local DB.\n\nUse the optional search param to find specific categories before filtering\nother endpoints with the genre param.","operationId":"get_db_genres_db_genres_get","parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter genre names by partial match","title":"Search"},"description":"Filter genre names by partial match"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"Response Get Db Genres Db Genres Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/plans/{plan_name}":{"get":{"tags":["Database"],"summary":"Get Db Books By Plan","description":"Get all books available under a specific Audible plan from the local DB.","operationId":"get_db_books_by_plan_db_plans__plan_name__get","parameters":[{"name":"plan_name","in":"path","required":true,"schema":{"type":"string","description":"Audible plan name (e.g. US Minerva, AccessViaMusic)","title":"Plan Name"},"description":"Audible plan name (e.g. US Minerva, AccessViaMusic)"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by","title":"Sort"},"description":"Field to sort by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db Books By Plan Db Plans  Plan Name  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/vvab":{"get":{"tags":["Database"],"summary":"Get Db Vvab Books","description":"Get all virtual voice audiobooks (AI-narrated) from the local DB.","operationId":"get_db_vvab_books_db_vvab_get","parameters":[{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by","title":"Sort"},"description":"Field to sort by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name","title":"Plan Name"},"description":"Filter by Audible plan name"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db Vvab Books Db Vvab Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/new-releases":{"get":{"tags":["Database"],"summary":"Get Db New Releases","description":"Get books released within the look-back window, newest first.\n\nAlready-released books only — far-future pre-orders are excluded. Defaults\nto releaseDate descending; pass a sort field to override.","operationId":"get_db_new_releases_db_new_releases_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ReleaseWindow","description":"Look-back window in days","default":30},"description":"Look-back window in days"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by (defaults to newest first)","title":"Sort"},"description":"Field to sort by (defaults to newest first)"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"desc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name","title":"Plan Name"},"description":"Filter by Audible plan name"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db New Releases Db New Releases Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/coming-soon":{"get":{"tags":["Database"],"summary":"Get Db Coming Soon","description":"Get upcoming books releasing within the look-ahead window, soonest first.\n\nFuture releases only. The window also excludes Audible's \"no date yet\"\nplaceholder, so only books with a real upcoming date show up. Defaults to\nreleaseDate ascending; pass a sort field to override.","operationId":"get_db_coming_soon_db_coming_soon_get","parameters":[{"name":"days","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ReleaseWindow","description":"Look-ahead window in days","default":30},"description":"Look-ahead window in days"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by (defaults to soonest first)","title":"Sort"},"description":"Field to sort by (defaults to soonest first)"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name","title":"Plan Name"},"description":"Filter by Audible plan name"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db Coming Soon Db Coming Soon Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/book/sku/{sku}":{"get":{"tags":["Database"],"summary":"Get Db Books By Sku","description":"Get all region variants for a SKU group from the local DB.","operationId":"get_db_books_by_sku_db_book_sku__sku__get","parameters":[{"name":"sku","in":"path","required":true,"schema":{"type":"string","description":"SKU group identifier","title":"Sku"},"description":"SKU group identifier"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db Books By Sku Db Book Sku  Sku  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/book/{asin}/chapters":{"get":{"tags":["Database"],"summary":"Get Db Book Chapters","description":"Get chapter data for a book from the local DB.","operationId":"get_db_book_chapters_db_book__asin__chapters_get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Book ASIN","title":"Asin"},"description":"Book ASIN"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChapterResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/book/{asin}":{"get":{"tags":["Database"],"summary":"Get Db Book","description":"Get a single book by ASIN from the local DB.","operationId":"get_db_book_db_book__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Book ASIN","title":"Asin"},"description":"Book ASIN"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/author/{asin}/books":{"get":{"tags":["Database"],"summary":"Get Db Author Books","description":"Get all books by an author from the local DB.","operationId":"get_db_author_books_db_author__asin__books_get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Author ASIN","title":"Asin"},"description":"Author ASIN"},{"name":"book_region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter the author's books by their region","title":"Book Region"},"description":"Filter the author's books by their region"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by","title":"Sort"},"description":"Field to sort by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"Is Listenable"},"description":"Filter by listenable status"},{"name":"is_buyable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by buyable status","title":"Is Buyable"},"description":"Filter by buyable status"},{"name":"is_vvab","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by VVAB (virtual voice audiobook) status","title":"Is Vvab"},"description":"Filter by VVAB (virtual voice audiobook) status"},{"name":"plan_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by Audible plan name","title":"Plan Name"},"description":"Filter by Audible plan name"},{"name":"genre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'.","title":"Genre"},"description":"Filter by genre or tag name, partial match (e.g. 'fantasy'). For an exact category id, use 'category'."},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'.","title":"Category"},"description":"Filter by exact category id from /categories (e.g. '18580628011'). Accepts a comma-separated list to match any of several (e.g. '18580628011,18573212011'). For broad name matching, use 'genre'."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookResponse"},"title":"Response Get Db Author Books Db Author  Asin  Books Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/author/{asin}":{"get":{"tags":["Database"],"summary":"Get Db Author","description":"Get an author by ASIN from the local DB.","operationId":"get_db_author_db_author__asin__get","parameters":[{"name":"asin","in":"path","required":true,"schema":{"type":"string","description":"Author ASIN","title":"Asin"},"description":"Author ASIN"},{"name":"region","in":"query","required":false,"schema":{"type":"string","description":"Audible region code","default":"us","title":"Region"},"description":"Audible region code"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/db/narrator/books":{"get":{"tags":["Database"],"summary":"Get Db Narrator Books","description":"Get all books by a narrator from the local DB.","operationId":"get_db_narrator_books_db_narrator_books_get","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","description":"Narrator name (exact match)","title":"Name"},"description":"Narrator name (exact match)"},{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/BookSortField"},{"type":"null"}],"description":"Field to sort by","title":"Sort"},"description":"Field to sort by"},{"name":"order","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortOrder","description":"Sort direction","default":"asc"},"description":"Sort direction"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Results per page (max 100)","default":20,"title":"Limit"},"description":"Results per page (max 100)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"title","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by title","title":"Title"},"description":"Filter by title"},{"name":"subtitle","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by subtitle","title":"Subtitle"},"description":"Filter by subtitle"},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by region","title":"Region"},"description":"Filter by region"},{"name":"description","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by description","title":"Description"},"description":"Filter by description"},{"name":"summary","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by summary","title":"Summary"},"description":"Filter by summary"},{"name":"publisher","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by publisher","title":"Publisher"},"description":"Filter by publisher"},{"name":"copyright","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by copyright","title":"Copyright"},"description":"Filter by copyright"},{"name":"isbn","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by ISBN","title":"Isbn"},"description":"Filter by ISBN"},{"name":"author_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by author name","title":"Author Name"},"description":"Filter by author name"},{"name":"series_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by series name","title":"Series Name"},"description":"Filter by series name"},{"name":"language","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by language","title":"Language"},"description":"Filter by language"},{"name":"rating_better_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum rating","title":"Rating Better Than"},"description":"Minimum rating"},{"name":"rating_worse_than","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum rating","title":"Rating Worse Than"},"description":"Maximum rating"},{"name":"longer_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum length in minutes","title":"Longer Than"},"description":"Minimum length in minutes"},{"name":"shorter_than","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Maximum length in minutes","title":"Shorter Than"},"description":"Maximum length in minutes"},{"name":"explicit","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by explicit","title":"Explicit"},"description":"Filter by explicit"},{"name":"whisper_sync","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by Whispersync availability","title":"Whisper Sync"},"description":"Filter by Whispersync availability"},{"name":"has_pdf","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by PDF companion availability","title":"Has Pdf"},"description":"Filter by PDF companion availability"},{"name":"book_format","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by book format","title":"Book Format"},"description":"Filter by book format"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content type","title":"Content Type"},"description":"Filter by content type"},{"name":"content_delivery_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by content delivery type","title":"Content Delivery Type"},"description":"Filter by content delivery type"},{"name":"is_listenable","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by listenable status","title":"I
[...]
